.ontology-tree-wrapper {
  margin-top: 1rem;

  .ant-tree-list-holder-inner {
    overflow-y: auto;
    max-height: 30vh;
  }
  .ant-tree-title {
    text-transform: capitalize;
  }
  .empty-topics-wrapper {
    text-align: center;
  }
}
