.obs-upload-wrapper {
  margin-top: 1rem;
  .upload-btn,
  .sync-btn {
    display: block;
    margin: 0.5rem auto;
    width: 140px;
  }
  .ant-table {
    overflow-x: auto;
  }
  .action-button {
    color: #1a1a1a;
  }
}
